# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Clion / Project
.idea/
cmake-build-debug/
CMakeLists.txt
hw2-spring-2019.pdf
test*
common/
*mirror/
inputs/
Client
Receiver
Sender
Cleaner
*.tar.gz